.placeholder-padding::placeholder {
    /* Mobile styles */
    text-align: right;
    padding-right: 70px; 
  }
  
  @media (min-width: 768px) {
    /* Desktop styles */
    .placeholder-padding::placeholder {
      text-align: left;
      padding-left: 70px;  
    }
  }
  
  .custom-input input{
    border: none;
    border-width: 0;
    outline: none;
  }

  .custom-image-style {
    width: 100px;
    height: 100px;
    margin-left: 30px;
    border-radius: 10px;
  }