.dashboardContainer {
  padding-left: 20px;  /* adjust this value to your preference */
  padding-right: 20px; /* adjust this value to your preference */
}


.progressParentContainer {
  border: 1px solid black;   /* Specify the width (1px) and style (solid) */
  border-radius: 10px;
  padding: 0 10px; /* Some horizontal padding for aesthetics */
  margin-top: 10px;  /* Adds padding to the top of the container */
  margin-bottom: 15px;  /* Adds padding to the bottom of the container */
}

.progressContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    position: relative;
  }

.goalWrapper {
  display: flex;            /* Set the display to flex for the vertical layout */
  flex-direction: column;   /* Stack the children vertically */
  align-items: flex-end;    /* Align children to the right */
}
  
.goalText {
  white-space: nowrap; /* Prevents the text from wrapping */
  margin-bottom: 0px;  /* Space between "Goal:" and "x workouts" */
}
  

.dateContainer {
  display: flex;
  align-items: center; /* Aligns items vertically centered */
  gap: 10px; /* Adds a gap between the image and the date */
}
  
.dateParentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;         /* Center children vertically */
  margin: 5px 5px; /* Adds a 5px gap below and above the calendar bar */     
}

.progressRectangles {
  display: flex;
  justify-content: space-between; /* Distributes the rectangles evenly */
  padding-bottom: 5px;  /* Adds padding to the bottom of the container */
}
  
.rectangle {
  flex: 1;
  height: 35px;
  margin-right: 5px;  /* Some spacing between the rectangles */
  margin-left: 5px;  /* Some spacing between the rectangles */
  margin-bottom: 10px; /* Adds a 10px gap below each workout bar */
  margin-top: 4px; /* Adds a 10px gap below each workout bar */
}

.rectangle:last-child {
  margin-right: 0;  /* Remove the margin for the last rectangle */
}

.rectangle:first-child {
  margin-left: 0;  /* Remove the margin for the first rectangle */
}

.completedRectangle {
  background-color: #A8E52E;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.7);
}

.pendingRectangle {
  background-color: #BABABA;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.7);
}

.workoutBarWrapper {
  display: flex;
  justify-content: space-between; /* Push children to the edges */
  align-items: center; /* Center children vertically */
  padding: 0 10px; /* Some horizontal padding for aesthetics */
  border: 1px solid black;   /* Specify the width (1px) and style (solid) */ 
  border-radius: 10px;
  margin-top: 10px; /* Adds a 10px gap below each workout bar */
}

.buttonsGroup {
  display: flex;
  gap: 10px; /* Optional: This will give a gap between the two buttons */
}

.durationWrapper {
  display: flex;            /* Use flexbox to align icon and text */
  align-items: center;      /* Vertically align the icon and text */
  gap: 5px; 
  margin-bottom: 10px;                /* Small space between icon and text */
}

.showDetailsWrapper{
  border-radius: 0 0 10px 10px;  /* Rounded corners only on the bottom */
  border: 1.5px solid #A8E52E;   /* Specify the width (1px) and style (solid) */
  position: relative; /* Makes this element a reference point for positioned children */
  border-top: none;

}
/*-------------------------------------------------------------------------------------------*/
/*A bunch of stuff to get the lines of the sides of the showdetailsMapper to have a seamless contact point with the rounded corners of the above workoutBarWrapper*/
.showDetailsWrapper::before,
.showDetailsWrapper::after {
  content: ""; /* Necessary for the pseudo-element to show */
  position: absolute; /* Absolute positioning */
  top: -6px; /* Extend it upwards to cover the gap */
  height: 10px; /* Height to match the curvature of the rounded corners */
  width: 1px; /* 1px width to match the border */
  background-color: #A8E52E; /* Match the border color */
}

.showDetailsWrapper::before {
  left: -1px; /* Position on the left side */
}

.showDetailsWrapper::after {
  right: -1px; /* Position on the right side */
}

/*-------------------------------------------------------------------------------------------*/

.seeDetailedWorkout{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #A8E52E;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  border-radius: 0 0 7px 7px; /* If you want the bottom to have rounded corners */
  /* Box Shadow */
  box-shadow: inset 0 0 10px rgba(41, 40, 40, 0.2);     
}

.seeWorkoutPlans{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #A8E52E;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  border-radius: 10px 10px 10px 10px; 
  /* Box Shadow */
  box-shadow: inset 0 0 10px rgba(41, 40, 40, 0.2);     
}


/* Parent container styling */
.infoRow {
  display: flex;
  justify-content: space-between; /* Optional, if you want to distribute space between the columns */
  width: 100%;
}

/* Exercise column */
.infoRow span:nth-child(1) {
  flex: 4; /* 4 times the width of the other columns */
  text-align: left; /* Optional, to align the text to the left */
  padding-left: 10px; /* Add some space to the left */
}

/* Sets column */
.infoRow span:nth-child(2) {
  flex: 1;
  text-align: center; /* Optional, to center the text */
}

/* Reps column */
.infoRow span:nth-child(3) {
  flex: 1;
  text-align: center; /* Optional, to center the text */
}

.completed_h1 {
  margin-bottom: -8px; /* To counteract the margin-top of the workoutBarWrapper */
  margin-top: 15px;
}
  
.upcoming_h1 {
  margin-bottom: -8px; /* To counteract the margin-top of the workoutBarWrapper */
  margin-top: 10px;
}

.progress_h1 {
  margin-top: 25px;
}

.day_h1{
  margin-top: 10px;
}

.duration_h1{
  margin-bottom: 10px;
}

.firstRedirecth1{
  margin-top: 100px;
}

.secondRedirecth1{
  margin-bottom: 20px;
}

.centeredContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* this assumes the parent is of a set height, if not, adjust accordingly */
}


/*-----------------------------------------------------------------------------------------------------------*/
/*Styling for ExerciseDisplayerDashboard*/

/* Workout image styling */
.workoutImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  object-fit: cover;
}

/* Workout name styling */
.workoutName {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 30px;  /* Added horizontal margins */
  margin-bottom: 10px;
}

/* Workout description styling */
.workoutDescription {
  font-size: 18px;
  margin-bottom: 40px;
  color: #666;
  margin: 10px 30px;  /* Added horizontal margins */
}

.divider {
  height: 2px;
  background-color: #ccc; /* This is a light gray color; adjust as needed */
  margin-bottom: 20px;
  width: calc(100%); /* To account for the 20px margins on both sides */
}

.returnToDashboard{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #A8E52E;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  border-radius: 10px 10px 10px 10px; 
  /* Box Shadow */
  box-shadow: inset 0 0 10px rgba(41, 40, 40, 0.2); 
  width: calc(100% - 60px); /* Reduce the width by 60px (30px on each side) */
  margin-left: 30px;       /* 30px margin on the left */
  margin-right: 30px;      /* 30px margin on the right */  
  margin-bottom: 20px;
}