
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');


html::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  margin-left: 2rem;
  width: 7.5px;  
}

::-webkit-scrollbar-thumb {
  border: 2px solid rgba(0, 0, 0, 0);
  /*Transparent color to make the egdes dissapair*/
  background-clip: padding-box;
  /*Slim thumb*/
  border-radius: 999px;
  /*Round egdes*/
  background-color: #A8E52D;
}



.disable-hover {
  pointer-events: none;
  cursor: default;
}



.light-mode {
  font-family: 'Montserrat', sans-serif;
  background-color: #EFEFEF;
}

.dark-mode {
  font-family: 'Montserrat', sans-serif;
  background-color: #333333;
  color: white;
}

/*h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;  /* 800 is the weight for Extra Bold 
  font-size: 30px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;  /* 600 is the weight for SemiBold 
  font-size: 16px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;  /* 600 is the weight for SemiBold 
  font-size: 12px;
}*/


.loading {
    min-width: 250px;
    max-width: 450px;
    min-height: 50px;
    z-index: 1;
border: 2px solid #A8E52D; 

}



.loading::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em 0;
    animation: beforeAnimation 2s infinite;
}

@keyframes beforeAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


.custom-radio {
  display: flex;
  flex-direction: column;
}

.custom-radio label {
  position: relative;
  padding-left: 50px;
  border: 1px solid black; 
  margin-bottom: 40px;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 5px; 
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  border: 3px solid black; 
  border-radius: 50%;
}

.custom-radio input[type="radio"]:checked + label::before {
  background-color: #A8E52D; 
}
